.sunfw-pos-breadcrumb {
	border-bottom: 1px solid #cccccc;
	margin-bottom: 30px;
}
.breadcrumb {
   padding: 0 0 1px;
    background-color: transparent;
    margin: 0 -4px;
    font-size: 0.9em;
    border-radius: 0;
    li a:hover{
    	color: #8899AC;
    }
    span.divider{
    	display: none;
    }
    li + li:before{
    	content: "\f0da";
    	font-family: 'FontAwesome';
    	color: #1b212e;
		padding: 0 7px;
    }
    li:first-child + li:before{
    	display: none;
    }
	> li {
		padding: 0;
		a {
			color: #1b212e;
		}
	}
	> .active {
		color: #5e7081;
	}
}
.dark-bg {
	li + li:before{
    	content: '\f105';
    	font-family: 'FontAwesome';
    	color: #fff;
    }
	.breadcrumb {
		padding: 0;
		li > span[itemprop="name"],
		> .active {
			color: #fff;
		}
	}
}