/*!
 * Sun Framework
 * Copyright 2016 Joomlashine.
 * @file _module-style.scss
 */
.module-title i.fa:before {
  @include rtl-padding-right(8px);
  @include rtl-padding-left(0);
}
 [class*='lightbox-'],[class*='richbox-']{
 	.module-title .box-title {
 		margin-top: 0;
 		margin-bottom: 0;
 		padding-bottom: 20px;
 	}
 	.module-body{
 		p:last-child{
 			margin-bottom: 0;
 		}
 	}
 }

[class*='lightbox-']{
 	.module-title .box-title {
		position: relative;
		&:before {
			position: absolute;
			content: "";
			left: 0;
			top: 0;
			width: 100%;
			height: 3px;
			background: #1b212e;
		}
 	}
	.module-body > ul {
		padding-top: 2px;
	}
	ol > li, ul > li {
		line-height: 21px;
		padding: 0;
		a {
			padding: 8px 0 7px;
			display: block;
		}
	}
}
.module-style[class*='box-']{
	border-width: 1px;
	border-style: solid;
	border-color: #ccc;
 	.module-title .box-title {
		padding: 12px 15px;
 	}
 	.module-body{
 		padding: 15px;
 	}
	&[class*='lightbox-'] {
		border-width: 0;
		.module-body {
			border-width: 0 1px 1px;
			border-style: solid;
			border-color: #ccc;
		}
		.module-title .box-title {
			border-width: 0 1px;
			border-style: solid;
			border-color: #ccc;
			&:before {
				left: -1px;
				width: calc(100% + 2px);
			}
		}
	}
	&.richbox-2 {
		border-width: 0;
		.module-body{
			border-width: 0 1px 1px;
			border-style: solid;
			border-color: #ccc;
		}
		.module-title .box-title {
			border: 1px solid #ccc;
		}
	}
}