#menu_item_menu ul.navbar-nav > li > a, #menu_item_menu ul.navbar-nav > li > span.nav-header {
  font-size: 16px;
  color: #1b212e;
  text-transform: uppercase;
  font-family: 'Poppins';
  font-weight: 700;
}
#menu_item_menu ul.navbar-nav > li:hover > a, #menu_item_menu ul.navbar-nav > li.active > a, #menu_item_menu ul.navbar-nav > li:hover > span.nav-header, #menu_item_menu ul.navbar-nav > li.active > span.nav-header {
  color: #9d9d9d;
  background-color: rgba(0, 0, 0, 0);
}
#menu_item_menu ul.dropdown-menu li a, #menu_item_menu ul.sunfw-megamenu-sub-menu li a, #menu_item_menu .modulecontainer ul.nav-child li a, #menu_item_menu ul.dropdown-menu li span.nav-header, #menu_item_menu ul.sunfw-megamenu-sub-menu li span.nav-header, #menu_item_menu .modulecontainer ul.nav-child li span.nav-header {
  font-size: 14px;
  color: #000;
}
#menu_item_menu ul.dropdown-menu li a:hover, #menu_item_menu ul.sunfw-megamenu-sub-menu li a:hover, #menu_item_menu .modulecontainer ul.nav-child li a:hover, #menu_item_menu ul.dropdown-menu li span.nav-header:hover, #menu_item_menu ul.sunfw-megamenu-sub-menu li span.nav-header:hover, #menu_item_menu .modulecontainer ul.nav-child li span.nav-header:hover, #menu_item_menu ul.dropdown-menu li a:focus, #menu_item_menu ul.sunfw-megamenu-sub-menu li a:focus, #menu_item_menu .modulecontainer ul.nav-child li a:focus, #menu_item_menu ul.dropdown-menu li span.nav-header:focus, #menu_item_menu ul.sunfw-megamenu-sub-menu li span.nav-header:focus, #menu_item_menu .modulecontainer ul.nav-child li span.nav-header:focus, #menu_item_menu ul.dropdown-menu li a.current, #menu_item_menu ul.sunfw-megamenu-sub-menu li a.current, #menu_item_menu .modulecontainer ul.nav-child li a.current, #menu_item_menu ul.dropdown-menu li span.nav-header.current, #menu_item_menu ul.sunfw-megamenu-sub-menu li span.nav-header.current, #menu_item_menu .modulecontainer ul.nav-child li span.nav-header.current {
  background-color: rgba(0, 0, 0, 0);
  color: #ed1c23;
}
#menu_item_menu ul.dropdown-menu li.active > a, #menu_item_menu ul.sunfw-megamenu-sub-menu li.active > a, #menu_item_menu .modulecontainer ul.nav-child li.active > a, #menu_item_menu ul.dropdown-menu li.active > span.nav-header, #menu_item_menu ul.sunfw-megamenu-sub-menu li.active > span.nav-header, #menu_item_menu .modulecontainer ul.nav-child li.active > span.nav-header {
  background-color: rgba(0, 0, 0, 0);
  color: #ed1c23;
}
#menu_item_menu ul.sunfw-megamenu-sub-menu li.current > a, #menu_item_menu ul.sunfw-megamenu-sub-menu li.current > span.nav-header {
  background-color: rgba(0, 0, 0, 0);
  color: #ed1c23;
}
#menu_item_menu ul.dropdown-menu, #menu_item_menu ul.sunfw-megamenu-sub-menu ul {
  width: 200px;
}
#sunfw_section_header.sunfw-sticky-open {
  background-color: #fff;
}
.sunfw_section_header.sunfw-sticky-open #menu_item_menu ul.navbar-nav > li > a, .sunfw_section_header.sunfw-sticky-open #menu_item_menu ul.navbar-nav > li > span.nav-header {
  color: #1b212e;
}
.sunfw_section_header.sunfw-sticky-open #menu_item_menu ul.navbar-nav > li:hover > a, .sunfw_section_header.sunfw-sticky-open #menu_item_menu ul.navbar-nav > li.active > a, .sunfw_section_header.sunfw-sticky-open #menu_item_menu ul.navbar-nav > li:hover > span.nav-header, .sunfw_section_header.sunfw-sticky-open #menu_item_menu ul.navbar-nav > li.active > span.nav-header {
  color: #9d9d9d;
}
#menu_item_offcanvas_right_menu ul.navbar-nav > li > a, #menu_item_offcanvas_right_menu ul.navbar-nav > li > span.nav-header {
  font-size: 14px;
  color: #1b212e;
  text-transform: uppercase;
}
#menu_item_offcanvas_right_menu ul.navbar-nav > li:hover > a, #menu_item_offcanvas_right_menu ul.navbar-nav > li.active > a, #menu_item_offcanvas_right_menu ul.navbar-nav > li:hover > span.nav-header, #menu_item_offcanvas_right_menu ul.navbar-nav > li.active > span.nav-header {
  color: #9d9d9d;
}
#menu_item_offcanvas_right_menu ul.dropdown-menu li a, #menu_item_offcanvas_right_menu ul.sunfw-megamenu-sub-menu li a, #menu_item_offcanvas_right_menu .modulecontainer ul.nav-child li a, #menu_item_offcanvas_right_menu ul.dropdown-menu li span.nav-header, #menu_item_offcanvas_right_menu ul.sunfw-megamenu-sub-menu li span.nav-header, #menu_item_offcanvas_right_menu .modulecontainer ul.nav-child li span.nav-header {
  font-size: 14px;
  color: #000;
}
#menu_item_offcanvas_right_menu ul.dropdown-menu li a:hover, #menu_item_offcanvas_right_menu ul.sunfw-megamenu-sub-menu li a:hover, #menu_item_offcanvas_right_menu .modulecontainer ul.nav-child li a:hover, #menu_item_offcanvas_right_menu ul.dropdown-menu li span.nav-header:hover, #menu_item_offcanvas_right_menu ul.sunfw-megamenu-sub-menu li span.nav-header:hover, #menu_item_offcanvas_right_menu .modulecontainer ul.nav-child li span.nav-header:hover, #menu_item_offcanvas_right_menu ul.dropdown-menu li a:focus, #menu_item_offcanvas_right_menu ul.sunfw-megamenu-sub-menu li a:focus, #menu_item_offcanvas_right_menu .modulecontainer ul.nav-child li a:focus, #menu_item_offcanvas_right_menu ul.dropdown-menu li span.nav-header:focus, #menu_item_offcanvas_right_menu ul.sunfw-megamenu-sub-menu li span.nav-header:focus, #menu_item_offcanvas_right_menu .modulecontainer ul.nav-child li span.nav-header:focus, #menu_item_offcanvas_right_menu ul.dropdown-menu li a.current, #menu_item_offcanvas_right_menu ul.sunfw-megamenu-sub-menu li a.current, #menu_item_offcanvas_right_menu .modulecontainer ul.nav-child li a.current, #menu_item_offcanvas_right_menu ul.dropdown-menu li span.nav-header.current, #menu_item_offcanvas_right_menu ul.sunfw-megamenu-sub-menu li span.nav-header.current, #menu_item_offcanvas_right_menu .modulecontainer ul.nav-child li span.nav-header.current {
  color: #ed1c23;
}
#menu_item_offcanvas_right_menu ul.dropdown-menu li.active > a, #menu_item_offcanvas_right_menu ul.sunfw-megamenu-sub-menu li.active > a, #menu_item_offcanvas_right_menu .modulecontainer ul.nav-child li.active > a, #menu_item_offcanvas_right_menu ul.dropdown-menu li.active > span.nav-header, #menu_item_offcanvas_right_menu ul.sunfw-megamenu-sub-menu li.active > span.nav-header, #menu_item_offcanvas_right_menu .modulecontainer ul.nav-child li.active > span.nav-header {
  color: #ed1c23;
}
#menu_item_offcanvas_right_menu ul.sunfw-megamenu-sub-menu li.current > a, #menu_item_offcanvas_right_menu ul.sunfw-megamenu-sub-menu li.current > span.nav-header {
  color: #ed1c23;
}
#menu_item_offcanvas_right_menu ul.dropdown-menu, #menu_item_offcanvas_right_menu ul.sunfw-megamenu-sub-menu ul {
  width: 200px;
}
#menu_item_offcanvas_left_menu ul.navbar-nav > li > a, #menu_item_offcanvas_left_menu ul.navbar-nav > li > span.nav-header {
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
}
#menu_item_offcanvas_left_menu ul.navbar-nav > li:hover > a, #menu_item_offcanvas_left_menu ul.navbar-nav > li.active > a, #menu_item_offcanvas_left_menu ul.navbar-nav > li:hover > span.nav-header, #menu_item_offcanvas_left_menu ul.navbar-nav > li.active > span.nav-header {
  color: #9d9d9d;
}
#menu_item_offcanvas_left_menu ul.dropdown-menu li a, #menu_item_offcanvas_left_menu ul.sunfw-megamenu-sub-menu li a, #menu_item_offcanvas_left_menu .modulecontainer ul.nav-child li a, #menu_item_offcanvas_left_menu ul.dropdown-menu li span.nav-header, #menu_item_offcanvas_left_menu ul.sunfw-megamenu-sub-menu li span.nav-header, #menu_item_offcanvas_left_menu .modulecontainer ul.nav-child li span.nav-header {
  font-size: 14px;
  color: #000;
}
#menu_item_offcanvas_left_menu ul.dropdown-menu li a:hover, #menu_item_offcanvas_left_menu ul.sunfw-megamenu-sub-menu li a:hover, #menu_item_offcanvas_left_menu .modulecontainer ul.nav-child li a:hover, #menu_item_offcanvas_left_menu ul.dropdown-menu li span.nav-header:hover, #menu_item_offcanvas_left_menu ul.sunfw-megamenu-sub-menu li span.nav-header:hover, #menu_item_offcanvas_left_menu .modulecontainer ul.nav-child li span.nav-header:hover, #menu_item_offcanvas_left_menu ul.dropdown-menu li a:focus, #menu_item_offcanvas_left_menu ul.sunfw-megamenu-sub-menu li a:focus, #menu_item_offcanvas_left_menu .modulecontainer ul.nav-child li a:focus, #menu_item_offcanvas_left_menu ul.dropdown-menu li span.nav-header:focus, #menu_item_offcanvas_left_menu ul.sunfw-megamenu-sub-menu li span.nav-header:focus, #menu_item_offcanvas_left_menu .modulecontainer ul.nav-child li span.nav-header:focus, #menu_item_offcanvas_left_menu ul.dropdown-menu li a.current, #menu_item_offcanvas_left_menu ul.sunfw-megamenu-sub-menu li a.current, #menu_item_offcanvas_left_menu .modulecontainer ul.nav-child li a.current, #menu_item_offcanvas_left_menu ul.dropdown-menu li span.nav-header.current, #menu_item_offcanvas_left_menu ul.sunfw-megamenu-sub-menu li span.nav-header.current, #menu_item_offcanvas_left_menu .modulecontainer ul.nav-child li span.nav-header.current {
  color: #ed1c23;
}
#menu_item_offcanvas_left_menu ul.dropdown-menu li.active > a, #menu_item_offcanvas_left_menu ul.sunfw-megamenu-sub-menu li.active > a, #menu_item_offcanvas_left_menu .modulecontainer ul.nav-child li.active > a, #menu_item_offcanvas_left_menu ul.dropdown-menu li.active > span.nav-header, #menu_item_offcanvas_left_menu ul.sunfw-megamenu-sub-menu li.active > span.nav-header, #menu_item_offcanvas_left_menu .modulecontainer ul.nav-child li.active > span.nav-header {
  color: #ed1c23;
}
#menu_item_offcanvas_left_menu ul.sunfw-megamenu-sub-menu li.current > a, #menu_item_offcanvas_left_menu ul.sunfw-megamenu-sub-menu li.current > span.nav-header {
  color: #ed1c23;
}
#menu_item_offcanvas_left_menu ul.dropdown-menu, #menu_item_offcanvas_left_menu ul.sunfw-megamenu-sub-menu ul {
  width: 200px;
}
